<%= turbo_stream_from 'discussions' %>

<div class="flex justify-between align-items">
  <h1 class="text-4xl">Discussions</h1>
  <%= link_to "New discussion", new_discussion_path, class: "py-2 px-2 font-medium text-white bg-blue-500 rounded hover:bg-blue-400 transition duration-300" %>
</div>

<div class="flex mt-4">
  <div id="discussions">
    <%= render partial: "discussion", collection: @discussions %>
  </div>
</div>