<%= turbo_stream_from @discussion %>

<%= render partial: "header", locals: { discussion: @discussion } %>

<hr class="my-4">

<div id="<%= dom_id(@new_post) %>">
  <%= render partial: "discussions/posts/form", locals: { post: @new_post } %>
</div>